header{
  background: #003333;
  color: #003333;
  max-width: 1920px;
  align-content: center;
  min-width: 1020px;
  border-bottom: #000000 2px solid;
}

/* .button{
  display: inline-block;
  margin-top: 1%;
  margin-left: 1%;
  padding-top: 1%;
  height: 50px;
  width: 100px;
  background: #000;
  border: white 2px solid;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
} */
ul{
  position:relative;
  list-style-type: none;
  overflow: hidden;
  background-color: #0FF;
  margin: 0px;
  padding: 0px;
  border-bottom: black 2px solid;
}

li{
  float:left;
  display:inline;
  margin: 10px 10px 10px 10px;


}

.logo{
  padding-top: 10px;
}

.banner{
 margin-bottom: -10px;

}

.container{
  width: 100%;
  margin:auto;
  overflow:hidden;
}
body{
  background: #003333;
  color: #003333;
  max-width: 1920px;
  align-content: center;
  min-width: 1020px;
  border-bottom: #000000 1px solid;
}
